/* Framework */
[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

/* General */
body {
    min-height: 100vh;
    text-align: center;
    text-transform:uppercase;
    background-color: rgb(238, 178, 144);
}

h1 {
    margin-bottom: 2rem;
}

.box {
    height: 30px;
}

.neutral {
    background-color: rgb(238, 178, 144);
}

.black {
    background-color: #000;
}

.brown {
    background-color: rgb(197, 134, 18);

}

.dark-brown {
    background-color: rgb(59, 9, 9);
}

.yellow {
    background-color: #ffff00;
}

.red {
    background-color: #ce0000;
}

.green {
    background-color:green;
}

.pink {
    background-color: #e76363;
}

.white {
    background-color: #fff;
}
